.SourcesPage {
	padding: 45px 60px 0 40px;
	display: grid;
	grid-template-columns: 1fr 350px;
	gap: 35px;

	.upside {
		display: flex;
		justify-content: space-between;
	}
}

.toneFilters {
	display: flex;
	align-items: center;
	height: 44px;
	gap: 15px;

	.btn {
		height: 44px;
		display: flex;
		align-items: center;
		gap: 8px;
		border-radius: 8px;
		border: 1px solid rgba(255, 255, 255, 0.1);
		cursor: pointer;
		transition: 0.2s;

		&:hover {
			background: rgba(0, 0, 0, 0.05);
		}
		&.active {
			background: rgba(0, 0, 0, 0.05);
		}
	}

	.resetBtn {
		margin-left: auto;
		color: #888;
		background: none;
		border: none;
		cursor: pointer;
		text-decoration: underline;
	}
}

.sourceTabs {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

	flex-wrap: wrap;
	gap: 10px;
	margin-bottom: 5px;
	overflow-x: auto;
	padding-bottom: 5px;

	.tab {
		height: 44px;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 8px;
		border-radius: 8px;
		border: 1px solid rgba(255, 255, 255, 0.1);
		cursor: pointer;
		transition: 0.2s;

		&:hover {
			background: rgba(0, 0, 0, 0.05);
			border-radius: 8px;
		}
	}
	.activeTab {
		display: flex;
		align-items: center;
		justify-content: center;
		@extend .tab;
		background: rgba(0, 0, 0, 0.05);
		border-radius: 8px;
		border: none;
	}
}
