.companiesModal {
	position: relative;
	.currentCompany {
		display: flex;
		align-items: center;
		height: 81px;
		background: linear-gradient(97.95deg, #273242 35.96%, #455369 88.99%);
		padding-left: 42px;
		padding-right: 18px;
		justify-content: space-between;
		margin-bottom: 10px;
		margin-top: 10px;

		h3 {
			font-weight: 600;
			font-size: 20px;
			line-height: 100%;
			color: #fff;
			margin: 0;
			margin-bottom: 4px;
		}

		p {
			font-weight: 500;
			font-size: 14px;
			line-height: 100%;
			color: #fff;
			margin: 0;
		}
	}

	.companies {
		position: absolute;
		width: 309px;
		left: 305px;
		top: 0px;
		z-index: 5;
		border-radius: 6px;
		background: rgba(39, 50, 66, 1);
		.active {
			box-sizing: border-box;
			width: 309px;
			height: 65px;
			background: rgba(255, 255, 255, 1);
			padding: 10px 0 10px 20px;

			h3 {
				margin: 0;
				margin-bottom: 4px;
			}

			p {
				margin: 0;
			}
		}

		.company {
			display: flex;
			flex-direction: column;
			justify-content: center;
			box-sizing: border-box;
			width: 309px;
			min-height: 65px;
			background: transparent;
			color: #fff;
			padding: 10px 0 10px 20px;
			cursor: pointer;

			&:hover {
				width: 100%;
				background: #ffffff;
				color: #273242;
			}

			h3 {
				margin: 0;
				margin-bottom: 4px;
				cursor: pointer;
			}

			p {
				margin: 0;
			}
		}
	}
}
