.header {
	display: flex;
	padding: 0 60px;
	height: 75px;
	justify-content: space-between;
	align-items: center;
	background: linear-gradient(90.24deg, #273242 51.48%, #344258 100%);
	box-shadow: 0px 4px 4px 0px rgba(52, 84, 125, 0.1);

	.profile {
		position: relative;
		cursor: pointer;
		display: flex;
		align-items: center;
		gap: 13px;

		img {
			width: 49px;
			height: 49px;
			border: 2px solid rgba(255, 255, 255, 1);
			border-radius: 50%;
		}

		.name {
			font-weight: 600;
			font-size: 16px;
			line-height: 100%;
			color: #fff;
		}
	}
}
