.nav {
	background: rgba(255, 255, 255, 1);
	width: 291px;
	height: 100vh;

	.links {
		display: flex;
		align-items: end;
		flex-direction: column;

		a {
			text-decoration: none;
			height: 64px;
			width: 80%;
			display: flex;
			align-items: center;
			gap: 15px;

			font-weight: 500;
			font-size: 20px;
			line-height: 100%;
			color: rgba(38, 47, 59, 0.8);
		}

		.active {
			background: linear-gradient(
				270deg,
				#34547d -90%,
				rgba(255, 255, 255, 0) 90.2%
			);
			border-right: 2px solid rgba(39, 50, 66, 1);

			text-decoration: none;
			height: 64px;
			width: 80%;
			display: flex;
			align-items: center;
			gap: 15px;

			font-weight: 600;
			font-size: 20px;
			line-height: 100%;
			color: rgba(39, 50, 66, 1);
		}
	}
}
