.list {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.card {
	overflow: hidden;
	position: relative;
	width: 695px;
	border-radius: 10px;
	background: rgba(255, 255, 255, 1);
	box-shadow: -5px 6px 8.5px 0px rgba(46, 67, 110, 0.05);
	padding-left: 30px;
	padding-top: 21px;
	padding-bottom: 24px;
	padding-right: 55px;
	box-sizing: border-box;
}

.left {
	position: absolute;
	top: 4px;
	left: 4px;
	border: none;
}

.content {
	flex: 1;
}

.header {
	height: 32px;
	display: flex;

	.nameBlock {
		display: flex;
		align-items: center;
		gap: 10px;

		.audience {
			padding: 0 10px;
			display: flex;
			gap: 3px;
			align-items: center;
			background-color: #e9eaeb;
			border-radius: 20px;
			height: 20px;
		}
	}

	img {
		width: 32px;
		height: 32px;
		border-radius: 50%;
		margin-right: 11px;
		object-fit: cover;
	}
}

.name {
	color: #273242;
	text-decoration: none;
	font-weight: 500;
	font-size: 12px;
	line-height: 100%;
	margin: 0;
	padding: 0;
}

.link {
	color: #117bfd;
	text-decoration: none;
}

.date {
	margin: 0;
	font-weight: 400;
	font-size: 10px;
	line-height: 100%;
	color: rgba(118, 117, 117, 1);
}

.meta {
	display: flex;
	gap: 11px;
	font-weight: 500;
	font-size: 10px;
	line-height: 100%;
	color: rgba(17, 123, 253, 1);
	align-items: center;
}

.text {
	font-weight: 500;
	font-size: 15px;
	line-height: 20px;
}

.statistics {
	display: flex;
	gap: 15px;

	div {
		display: flex;
		align-items: center;
		gap: 3px;
	}
}

.more {
	display: inline-block;
	font-weight: 400;
	font-size: 12px;
	line-height: 20px;
	color: rgba(45, 139, 255, 1);

	cursor: pointer;

	svg {
		margin-left: 5px;
	}
}

.status {
	width: 4px;
	border-radius: 4px;
}

.positive {
	width: 4px;
	height: 156px;
	position: absolute;
	background: rgba(0, 184, 77, 1);
	top: 0;
	left: 0;

	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
}

.neutral {
	width: 4px;
	height: 156px;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(118, 117, 117, 1);

	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
}

.negative {
	width: 4px;
	height: 156px;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(221, 23, 23, 1);

	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
}

.emotion {
	position: absolute;
	top: 20px;
	left: 648px;
}
.checkbox {
	appearance: none;
	width: 18px;
	height: 18px;
	border: 0.5px solid rgba(213, 214, 217, 1);
	border-radius: 4px;
	cursor: pointer;
	position: relative;
}

.checkbox:checked {
	border: 0.5px solid rgba(52, 199, 89, 1);
}

.checkbox:checked::after {
	content: '';
	position: absolute;
	left: 5px;
	top: 0px;
	width: 5px;
	height: 10px;
	border: solid rgba(52, 199, 89, 1);
	border-width: 0 2px 2px 0;
	transform: rotate(45deg);
}

.pagination {
	display: flex;
	justify-content: center;
	margin-top: 50px;
	margin-bottom: 100px;
	gap: 5px;

	button {
		width: 40px;
		height: 40px;
		border-radius: 50%;
		border: 1px solid rgb(139, 139, 139);
		background-color: #fff;
	}

	.active {
		background-color: #273242;
		color: #fff;
	}
}

.highlight {
	background-color: #ffe58f;
	padding: 0 2px;
	border-radius: 3px;
}
